.custom-box-shadow {
    box-shadow: 0px 1px 3px -1px black ;
}

.custom-linear-gradient-background {
    background: linear-gradient(180deg ,#fde1ff,#e1ffea22 60%);
}

.custom-font-family-popins {
    font-family: Poppins;
}